@charset "UTF-8";

body {
	text-align:center;
	width:100%;
	background-image: url("https://www.pakutaso.com/shared/img/thumb/002stockphoto_TP_V.jpg");
}

.title {
	 position: relative;
  background: repeating-linear-gradient(-45deg, rgba(139,198,202,.3), rgba(139,198,202,.3) 10px, #fff 0, #fff 20px);
  padding: 1em;
  color: #65513f;

	}

.title{
	text-align:left;
	position: relative;


}

.menu {
	position:relative;
	overflow:hidden;
	background-color: #f0b5e2;

}


.menu {
position: relative;
overflow: hidden;

}

.menu ul {
position: relative;
left: 50%;
float: left;
list-style:none;
}

.menu li {
	position: relative;
	left: -50%;
	float: left;
	padding: 10px;
	margin-left: 15px;
	font-size:10px;
	border: solid 2px black;
    float:left;
	width:100px;
}


.kensaku{
	margin-right: auto;
}

.kensakuBB{
	padding: 15px 40px;
    font-size: 1.2em;
    background-color: #008080;
    color: #FFF;
    border-style: none;
}

.kensakuB{
	margin: 10px 20px 10px 20px;
	 position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 3px #668ad8;
  border-left: solid 3px #668ad8;
  color: #668ad8;
  transition: .4s;
}
.kensakuB:hover {
  padding-left: 0.7em;
  padding-right: 0.3em;
}